html,
body{
    margin: 0;
  padding: 0;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.42;
  font-family: "Open Sans", helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
.header {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    margin-bottom: 6rem;
}
.logo__link{    
    flex: 1;
}
.menu {
    flex: 4;
}
.main__menu {
    width: 50%;
    display: flex;
    list-style: none;
    justify-content: space-between;
}
.main__menu__link {
    text-decoration: none;
    color: #fff;
}
a {
    text-decoration: none;
}
.contact__tell{
    font-size: 1.3rem;
    color: #fff;
}
.menu__doropdown {
    position: relative;
    
    height: 0;
}

.dropdown__el {
    list-style: none;
}

.contact__info {
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;align-items: flex-end;
}
.hover__work{
    text-decoration: underline;
    font-weight: lighter;
    color: #fff;
}
.dropdown__list {
    position: absolute;
    width: 180px;
    left: -50px;
    background: #fff;
    color: black;
    border-radius: 5px;
    display: none;
}
.hover__work:hover .menu__doropdown .dropdown__list {
  display: block;
}
