.section__partners {
    width: 100vw;
    display: flex;
    justify-content: center;
    background: #F4F5F5;
}
.partners {
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: flex;
    flex-direction: column;
    width: 80%;
}
.title__partners {
    color: #303030;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5rem;
}
.container__parthners__img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.img__parther {
    width: 200px;
}
.container__parthners__img:last-child {
    margin-bottom: 0;
}